Source: quest
Section: devel
Priority: optional
Maintainer: Christian Lindig <lindig@eecs.harvard.edu>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: quest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: generates C code to test a compiler's parameter passing
 Quest generates random C code that tests the parameter passing
 implementation of a C compiler. When the generated code is compiled and
 executed it checks that the values passed are actually the ones that
 are exepected and signals an error to stdout otherwise. Quest is most
 useful for compiler developers and people interested in compiler
 correctness.
   
